<div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h1 class="pt-3 font-weight-bold">Unauthorised Access</h1>
            </div>
            <div class="panel-body p-3">
                <p>Unauthorised. Please login with authorised credentials</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  

